@import url('https://fonts.googleapis.com/css2?family=Arima:wght@200&family=BIZ+UDPGothic&display=swap');
body.main {
  background-position: center center;
  background-color:black;
}
body.webdev{
  background-color:black;
}
body.digiart{
  background-color:black;
}
body.video{
  background-color:black;
}
body.photography{
  background-color:black;
}
h1{
  text-align:center;

}
img{
  width:100%;height:auto;
}

a:visited {
  color: white;
}
a:hover {
  color: plum;
}
a[data-fancybox] img {
  cursor: zoom-in;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 80%;
  transition: .5s ease;
  background-color:black;
}

.div-2:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 200%;
  font-family: 'Arima', cursive;
  text-align: center;
  position: relative;
  top: 40%;
  right:0.1%;
}
.div-3:hover .overlay {
  opacity: 1;
}

.text2 {
  color: white;
  font-size: 200%;
  font-family: 'Arima', cursive;
  text-align: center;
  position: relative;
  top: 40%;
  right:0.1%;
}
.div-4:hover .overlay {
  opacity: 1;
}

.text3 {
  color: white;
  font-size: 200%;
  font-family: 'Arima', cursive;
  text-align: center;
  position: relative;
  top: 40%;
  right:0.1%;
}
.div-5:hover .overlay {
  opacity: 1;
}

.text4 {
  color: white;
  font-size: 200%;
  font-family: 'Arima', cursive;
  text-align: center;
  position: relative;
  top: 40%;
  right:0.1%;
}
.div-1{
}
.div-1ai{

}
.flex-container{
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 25%;
  color:white;
}

.div-1a{
  padding: 0;
   margin: 0;
   height:60vh;
   font-family: 'Arima', cursive;
   display: flex;
   justify-content: center;
   align-items: center;
  }
ul {
  position: relative;
  display: flex;
}

li {
  list-style: none;
}

label {
  position: relative;
}

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 80px;
  width: 80px;
  z-index: 100;
}

name {
  position: relative;
  height: 80px;
  width: 80px;
  background: #18191f;
  color: #555;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 46px;
  cursor: pointer;
  margin: 4px;
  border-radius: 20px;
  box-shadow: -1px -1px 4px rgba(255, 255, 255, 0.05),
    4px 4px 6px rgba(0, 0, 0, 0.2),
    inset -1px -1px 4px rgba(255, 255, 255, 0.05),
    inset 1px 1px 1px rgba(0, 0, 0, 0.1);
}
input[type="checkbox"]:checked ~ name {
  box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.05),
    inset 4px 4px 6px rgba(0, 0, 0, 0.2);
  color: pink;
  text-shadow: 0 0 15px pink, 0 0 25px pink;
  animation: glow 2s linear infinite;
}

@keyframes glow {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
.div-1b{
  color: grey;
  font-size:100%;
  font-family: 'Arima', cursive;
  width:50%;
  text-align:center;
  margin-top: -9.5%;
}

.div-2{
  position:relative;
  width:40%;
  margin:5%;
  color:white;
}
.div-3{
  position:relative;
  width:40%;
  margin:5%;
  color:white;
}
.div-4{
  position:relative;
  width:40%;
  margin:5%;
  color:white;
}
.div-5{
  position:relative;
  width:40%;
  margin:5%;
  color:white;
}
.flex-container2{
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content:space-around;
  margin-top: -20%;
}
.div-6{
  position:relative;
  width:25%;
  margin:5%;
}
.div-7{
  position:relative;
  width:25%;
  margin:5%;
}
.div-8{
  position:relative;
  width:25%;
  margin:5%;
}
.div-9{
  position:relative;
  width:25%;
  margin:5%;
}
.div-10{
  position:relative;
  width:25%;
  margin:5%;
}
.div-11{
  position:relative;
  width:25%;
  margin:5%;
}
.div-12{
  position:relative;
  width:25%;
  margin:5%;
}
.div-13{
  position:relative;
  width:25%;
  margin:5%;
}
.div-14{
  position:relative;
  width:25%;
  margin:5%;
}
.div-15{
  position:relative;
  width:25%;
  margin:5%;
}
.div-15a{
  position:relative;
  width:25%;
  margin:5%;
}
.div-15b{
  position:relative;
  width:25%;
  margin:5%;
}
.div-15c{
  position:relative;
  width:25%;
  margin:5%;
}
.div-15d{
  position:relative;
  width:25%;
  margin:5%;
}
.div-15e{
  position:relative;
  width:25%;
  margin:5%;
}
.div-15f{
  position:relative;
  width:25%;
  margin:5%;
}
.div-15g{
  position:relative;
  width:25%;
  margin:5%;
}
.div-15h{
  position:relative;
  width:25%;
  margin:5%;
}
.div-15i{
  position:relative;
  width:25%;
  margin:5%;
}
.div-15j{
  position:relative;
  width:25%;
  margin:5%;
}
.div-15k{
  position:relative;
  width:25%;
  margin:5%;
}

.flex-container3{
  display:flex;
  flex-flow:wrap;
  align-items:center;
  justify-content:space-around;
}
.div-16{
  color:white;
  font-size: 200%;
  margin-left: 10%;
  margin-top: 10%;
  text-align: left;
  font-family: 'Arima', cursive;
}
.div-16a{
  color:white;
  font-size: 100%;
  margin-left: 10%;
  text-align: left;
  font-family: 'Arima', cursive;
}

.div-17{
  color:white;
  font-size: 200%;
  margin-top: 10%;
  margin-left:10%;
  text-align: left;
  font-family: 'Arima', cursive;
}
.div-17a{
  color:white;
  font-size: 100%;
  margin-left: 10%;
  text-align: left;
  font-family: 'Arima', cursive;
}
.div-18{
    position:relative;
    width:20%;
    margin:5%;
}
.div-19{
    position:relative;
    width:20%;
    margin:5%;
}
.div-20{
    position:relative;
    width:20%;
    margin:5%;
}
.div-21{
    position:relative;
    width:20%;
    margin:5%;
}
.div-22{
    position:relative;
    width:20%;
    margin:5%;
}
.div-23{
    position:relative;
    width:20%;
    margin:5%;
}
.div-23a{
    position:relative;
    width:20%;
    margin:5%;
}
.flex-container4{
  display:flex;
  flex-flow:wrap;
  align-items:center;
  justify-content:space-around;
}
.div-24{
  color: white;
  font-size:200%;
  font-family: 'Arima', cursive;
  text-align:center;
}
.div-25{
  font-size:150%;
  font-family: 'Arima', cursive;
  text-align:left;
  margin-left: 8%;
}
.div-26{
  font-size:150%;
  font-family: 'Arima', cursive;
  text-align:left;
  margin-left: 8%;
}
.div-27{
  font-size:150%;
  font-family: 'Arima', cursive;
  text-align:left;
  margin-left: 8%;
}
.flex-container5{
  display:flex;
  flex-flow:column;
  align-items:center;
  justify-content:space-around;
}
.div-28{
    position:relative;
    width:30%;
    margin:5%;
}
.div-28a{
  color:white;
  font-size:150%;
  font-family: 'Arima', cursive;
  text-align: center;
}
.div-29{
    position:relative;
    width:30%;
}
.div-29a{
  color:white;
  font-size:150%;
  font-family: 'Arima', cursive;
  text-align: center;
}
